<!DOCTYPE html>
<html >
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <link rel="icon" type="image/x-icon" href="../static/icon/favicon.ico" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
      <title>DrugLens</title>
    </head>
    <body class="font-patrick-hand">
      <header class="max-w-3xl py-4 mx-auto mt-5 font-thin text-center">
        <div class="flex items-center justify-center mb-5">
          <img src="../static/logo/logo.png" alt="" sizes="" srcset="" id = "logo-img"/>
        </div>
        <h1 class="mb-4 text-7xl text-rose-700">DrugLens^_^</h1>
      </header>
  
      <main class="max-w-3xl p-5 mx-auto font-thin bg-white divide-y shadow-md">
        <textarea
          id="body-condition-text"
          placeholder="Please describe your relevant body condition, such as disease, allergy, etc"
          autofocus
          rows="3"
          class="w-full p-4 mb-5 text-2xl italic outline-none resize-none focus:outline-offset-0 focus:outline-rose-700"
        ></textarea>

        <div id = "upload-img">
          <label class="image-upload button-33">
          <input type="file" accept="image/*" capture="camera">
          Upload Now!
      </label>
    </div>
        
        

  
        <!-- <section id="notes-wall" class="flex flex-wrap justify-start">

          <div
            class="relative w-40 h-40 p-0 m-2 overflow-y-auto transition-transform transform bg-yellow-200 shadow-lg note hover:scale-105"
          >
            <button
              class="absolute w-5 h-5 leading-5 text-center transition-opacity opacity-0 cursor-pointer delete-btn top-1 right-1 hover:opacity-100"
            >
              🗑
            </button>
            <div class="p-4 note-text">Buy milk</div>
            <textarea
              class="absolute top-0 left-0 hidden w-full h-full p-4 transition-transform transform bg-yellow-300 shadow-xl resize-none outline-rose-700 outline-offset-0 note-edit note hover:scale-105"
            >Buy milk</textarea
            >
          </div>
          <div
            class="relative w-40 h-40 p-0 m-2 overflow-y-auto transition-transform transform bg-yellow-200 shadow-lg note hover:scale-105"
          >
            <button
              class="absolute w-5 h-5 leading-5 text-center transition-opacity opacity-0 cursor-pointer delete-btn top-1 right-1 hover:opacity-100"
            >
              🗑
            </button>
            <div class="p-4 note-text">Buy bread</div>
            <textarea
              class="absolute top-0 left-0 hidden w-full h-full p-4 transition-transform transform bg-yellow-300 shadow-xl resize-none outline-rose-700 outline-offset-0 note-edit note hover:scale-105"
            >Buy bread</textarea
            >
          </div>
        </section> -->
        <div class="login">
          <h1 style="color:Violet;">Heart disease prediction</h1>
        
             <!-- Action is where the data is sent. In our case, predict page.
             If action is omitted, it assumed to be the current page -->
            <form action="{{ url_for('predict')}}"method="post">
              <input type="text" name="percent biking" placeholder="Percent population biking" required="required" /><br>
                <input type="text" name="percent smoking" placeholder="Percent population smoking" required="required" /><p>
        
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict percent population with heart disease</button></p>
            </form>
            <form action="{{ url_for('camera')}}" method = "get">
              <button type="submit" class="btn btn-primary btn-block btn-large">open camera</button>
            </form>
         
        
           <br>
           <br>
           <h4 style="color:Violet;">
           {{ prediction_text }} </h4>
        
         </div>
      </main>
  
      <!-- <footer
        class="flex flex-col items-center justify-center max-w-lg mx-auto mt-10 text-xs text-gray-500 font-extralight"
      >
        <div>Take photo or upload image of bottle to get medication instruction</div>
        <div>You can say something about your body condition to get personalized advice</div>
      </footer> -->

      <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <!-- <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul> -->
        <ul class="menu">
          <li class="menu__item" id = "home"><a class="menu__link" href="#">Home</a></li>
          <li class="menu__item" id = "about"><a class="menu__link" href="#">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
          <li class="menu__item" id = "team"><a class="menu__link" href="#">Team</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    
        </ul>
        <div id = "info"></div> 
        <p>&copy;Hophacks 2023 | All Rights Reserved</p>
      </footer>
  
      <!-- Scripts here. Don't remove ↓ -->
      <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
  </html>
  


