<!DOCTYPE html>
<html >
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <link rel="icon" type="image/x-icon" href="../static/icon/favicon.ico" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
      <title>DrugLens</title>
    </head>
    <body class="font-patrick-hand">
      <header class="max-w-3xl py-4 mx-auto mt-5 font-thin text-center">
        <div class="flex items-center justify-center mb-5">
          <img src="../static/logo/logo.png" alt="" sizes="" srcset="" id = "logo-img"/>
        </div>
        <audio id="audioPlayer" class="hidden" controls>
          Your browser does not support the audio element.
        </audio>
        <h1 class="mb-4 text-7xl text-rose-700">---- DrugLens^_^ ----</h1>
        <p id = "sub-header">For better medication usage</p>
      </header>
  
      <main class="max-w-3xl p-5 mx-auto font-thin bg-white divide-y shadow-md">
        <textarea
          id="body-condition-text"
          placeholder="Please describe your relevant body condition, such as disease, allergy, etc"
          autofocus
          rows="3"
          class="w-full p-4 mb-5 text-2xl italic outline-none resize-none focus:outline-offset-0 focus:outline-rose-700"
        ></textarea>

        <div id = "upload-img" class = "center-container">
          <label class="image-upload button-33">
          <input type="file" accept="image/*" capture="camera">
          Upload Now!
      </label>
    </div>

    <div id = "taking-img" class = "center-container">
      <label class="image-upload button-78">
      Take live pic!
  </label>
</div>

      <div id = "live-window" class = "hidden">
        <img src = "{{ url_for('video_feed')}}" width = 80%>
      </div> 
      <div id = "take-picture-instruction" class = "hidden ">
        Please hold the Bottle until the livestream over!
      </div>
      <div id = "instruction-section" class = "center-container">
        <p id = "instruction"></p>
      </div>
      </main>

      

      <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <ul class="menu">
          <li class="menu__item" id = "home"><a class="menu__link" href="#">Home</a></li>
          <li class="menu__item" id = "about"><a class="menu__link" href="#">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
          <li class="menu__item" id = "team"><a class="menu__link" href="#">Team</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    
        </ul>
        <div id = "info"></div> 
        <p>&copy;Hophacks 2023 | All Rights Reserved</p>
      </footer>
  
      <!-- Scripts here. Don't remove ↓ -->
      <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
  </html>
  


